---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url><loc>{{ site.domain }}{{ '/' | url }}</loc></url>
<url><loc>{{ site.domain }}{{ '/about/' | url }}</loc></url>
<url><loc>{{ site.domain }}{{ '/affiliate-disclosure/' | url }}</loc></url>
<url><loc>{{ site.domain }}{{ '/privacy-policy/' | url }}</loc></url>
{% for post in collections.posts %}<url><loc>{{ site.domain }}{{ post.url | url }}</loc></url>
{% endfor %}</urlset>
